.tasks-section {
    display: flex;
    margin-top: 38px;
    flex-direction: column;
    color: #000;
    align-items: center;
}

.task-item {
    border-radius: 37px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #fff;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 18px 39px;
    margin-bottom: 5%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.task-item.completed {
    background-color: rgb(255 255 255 / 40%);
    transform: scale(1.02);
}

.task-details {
    display: flex;
    flex-direction: column;
}

.task-name {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    transition: text-decoration 0.3s ease;
}

.task-reward {
    display: flex;
    margin-top: 16px;
    gap: 12px;
    font-weight: 500;
    align-items: end;
}

.reward-icon {
    object-position: center;
    width: 30px;
    fill: #f9d621;
    alt: "Reward icon";
}

.task-item.completed .task-details .task-name {
    text-decoration: line-through;
}

.task-icon {
    aspect-ratio: 0.94;
    object-position: center;
    width: 50px;
    margin: auto 0;
    alt: "Task icon";
}

.task-check-button {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.task-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.edit-icon, .delete-icon{
    cursor: pointer;
}
.edit-icon:hover, .delete-icon:hover {
    color: grey;
}

@media (max-width: 991px) {

    .task-item {
        padding: 15px 20px;
        margin: 0 1rem 1rem;
        border-radius: 30px;
        width: 90%;

    }

    .task-reward {
        margin-top: 0;

    }

}